@font-face {
    font-family: DM-sans;
    src: url(./fonts/DMSans-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;

    font-family: DM-sans, Helvetica;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

body {
    height: 100vh;
}

button {
    background-color: #3882F6;
    color: #f9FAF8;
    border: 2px solid white;
    border-radius: 6px;

    text-align: center;
    font-weight: 600;
    padding: 5px 30px;
}

.padding {
    padding: 0 30px;
}

/* ------ Nav section ------  */

.nav {
    height: 80px;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
}

.nav-container {
    width: 1100px;
    /* height: 100%; */
    background-color: #1F2937;
    color: white;

    display: flex;
    /* flex: 1; */
    justify-content: space-between;
    padding: 30px 30px 20px 30px;
    align-items: center;
}

.nav-container ul {
    display: flex;
    gap: 18px;
}

.nav h3 {
    font-weight: bold;
    font-size: 26px;
}

/* ------ Hero Section ------ */

.hero {
    min-height: 400px;
    background-color: #1F2937;
    color: white;

    display: flex;
    justify-content: center;
}

.hero-container {
    width: 1100px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-bottom: 30px;

    /* flex-wrap: wrap; gonna do it w media query instead */
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.left h1 {
    max-width: 350px;
    font-size: 50px;
    color: #f9FAF8;

    margin-bottom: -10px;
}

.left p {
    /* change this later */
    max-width: 400px;
    color: #E5E7EB;
    /* margin-bottom: 15px; */
}

.left button {
    border: none;
}

.right {
    height:250px;
    width: 500px;
    background-color: grey;
    border-radius: 20px;

    margin-left: 30px;


    display: flex;
    justify-content: center;
    align-items: center;
}

.right p {
    text-align: center;
}

@media(max-width: 850px) {
    .hero .hero-container {
        flex-direction: column;
        padding-bottom: 30px;
        
    }

    .hero .right {
        margin-top: 30px;
        margin-left: 0px;
    }

    .hero .left {
        margin-top: 10px;
    }



}

@media(max-width: 700px) {

    .action .box {
        padding: 30px;
    }
}

/* ------ Information section ------  */

.information {
    min-height: 400px;
    background-color: white;
    color: black;

    display: flex;
    justify-content: center;
}

.information-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    /* for when the flex-wrap activates */
    padding-bottom: 30px; 
}

.information-container h2 {
    margin: 30px;

    /* put styling here */
}

.information-container .panes {
    display: flex;
    justify-content: space-around;
    align-items: center;

    gap: 40px;

    flex-wrap: wrap;
}

.information-container .panes .pane {
    display: flex;
    flex-direction: column;
    gap: 8px;
}


.pane .box {
    border: 7px solid #3882F6;
    border-radius: 20px;
    width: 150px;
    height: 150px;
}

.pane p {
    max-width: 150px;
    text-align: center;

    /* put styling here */
}

.information h2 {
    font-size: 32px;
}

/* ------ Quote section ------  */

.quote {
    min-height: 400px;
    /* background-color: lightgrey; */
    background-color: #E5E7EB;

    /* color: black; */
    color: #1F2937;


    display: flex;
    justify-content: center;
}

.quote-container {
    width: 1100px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* padding: 0 30px; */

}

.quote-container p {
    max-width: 800px;
    font-size: 36px;
    /* font-weight: 100; this didnt do shit,  change font*/

}

.quote-container div {
    font-size: 22px;
    font-weight: bolder;

    align-self: flex-end;
    margin-right: 150px;

}

/* ------ Action section ------  */

.action {
    min-height: 250px;
    background-color: white;

    display: flex;
    align-items: center;
    justify-content: center;
}

.action .box {
    background-color: #3882F6;
    color: white;
    width: 1100px;
    min-height: 130px;
    border-radius: 20px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    flex-wrap: wrap;
}

.action .box .left {
    display: flex;
    flex-direction: column;
    gap: 0px;
    /* color: black; */

}

.action .call-to-action {
    font-size: 22px;
    font-weight: bold;
}

/* ------ Footer section ------  */

.footer {
    height: 90px;
    background-color: #1F2937;
    color: white;
    
    display: flex;
    justify-content: center;
    align-items: center;
}