@font-face {
    font-family: DM-sans;
    src: url(./fonts/DMSans-Regular.ttf);
}

* {
    margin:0;
    padding:0;
    font-family: DM-sans, Helvetica;
}

body {
    min-height: 100vh;
}

.nav {
    height: 80px;
    background-color: #1F2937;
    display:flex;
    justify-content: center;
    color: #f9FAF8;
}

.nav-container {
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links-container {
    display:flex;
    gap: 18px;
}

.nav-header-logo {
    font-weight: bold;
    font-size: 26px;
}
/* -------------------------------------- */
.content-1 {
    height: 440px;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    color: #fff;
}

.content-1-container {
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-bottom: 50px;
}

.hero-pane {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /*changes from stretch so button not stretched */
}

img {
    width: 500px;
    border-radius: 22px;
}

p.hero-p {
    max-width: 400px;
    color: #E5E7EB;
    margin-bottom: 15px;
}

h1 {
    max-width: 350px;
    font-size: 50px;
    color: #f9FAF8;
}

/* -------------------------------------- */

.content-2 {
    height: 440px;
    background-color: #fff;
    display: flex;
    justify-content: center;
}

.content-2-container {
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.panes-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-bottom: 20px;
}

.pane {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

img.pane-img {
    width: 150px;
    border-radius: 22px;

}

p.pane-p {
    max-width: 150px;
    text-align: center;
}

h2 {
    font-size: 30px;
}

/* -------------------------------------- */

.content-3 {
    height: 440px;
    background-color: #E5E7EB;
    color: #000;
    
    display:flex;
    justify-content: center;
}

.content-3-container {
    width: 1000px;
    display:flex;
    flex-direction: column;
    justify-content: center;

}


.quote {
    max-width: 750px;
    align-self: center;
    font-size: 36px;
    font-weight: light;
    color: #1F2937
}

.signoff {
    align-self: flex-end;
    margin-top: 15px;
    margin-right: 190px;
    font-size: 22px;
    font-weight: bold;
}

/* -------------------------------------- */


.content-4 {
    height: 300px;
    background-color: #f9FAF8;


    display: flex;
    justify-content: center;
    align-items: center;


}

.content-4-container {
    width: 1000px;
    height: 150px;
    background-color: #3882F6;
    color: #f9FAF8;

    display:flex;
    justify-content: space-around;
    align-items: center;

    border-radius: 22px;
}

.content-4-header {
    font-size: 24px;
}

.content-4-subtext {
    color:#E5E7EB;
}


button {
    background-color: #3882F6;
    color: #f9FAF8;
    border: 2px solid white;
    border-radius: 6px;

    text-align: center;
    font-weight: 600;

    padding: 5px 30px;
}

.hero-button {
    border: none;
}

/* -------------------------------------- */

.footer {
    height: 90px;
    background-color: #1F2937;
    color: #f9FAF8;

    display: flex;
    justify-content: center;
    align-items: center;
}




/* -------------------------------------- */

a {
    text-decoration: none;
    color: #fff;
}

ul {
    list-style: none;
}



